@model Meiesinge.WebClient.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Du bist Kunst?";
}
<h2>@ViewBag.Title</h2>
<h3>Jeder Künstler hat einen Namen</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        Du hast dich mit <strong>@ViewBag.LoginProvider</strong> eingeloggt.
        Aber wie lautet dein Künstlername?
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.ArtistName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ArtistName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ArtistName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Speichern" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
